@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About Page";
}
<H1>Welcome to the Robert ASP.NET Core WebSite.</H1>

<div class="row">
    <div class="col-md-12">
        <a asp-controller="Account" asp-action="Index" class="btn btn-primary">Show Accounts</a>
    </div>
</div>