<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <envrionment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </envrionment>
    <envrionment names="Staging, Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </envrionment>
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>Copyright &copy; 2017 - Robert AspNetCore</footer>
    </div>
    <envrionment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </envrionment>
    <envrionment names="Staging, Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    </envrionment>
</body>
</html>
