<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <envrionment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </envrionment>
    <envrionment names="Staging, Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </envrionment>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <envrionment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </envrionment>
    <envrionment names="Staging, Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    </envrionment>
</body>
</html>
